/* Importo fuentes desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&family=Mulish&display=swap');


/* Estilos para resetear los valores por defecto de los navegadores */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Creación de variables */
:root {
    --margen-lateral: 5%;
    --espaciado-vertical: 4rem;
    --espaciado-vertical-items: 1rem;
    --redondeo-bordes: 0.5rem;
    --ancho-maximo-mobile: 550px;

    --color-primario: #92E3A9;
    --color-secundario: #43B365;
    /* --color-acento: #3C8296; */
    --color-acento: #2E6170;

    --fuente-titulo: "Kanit", sans-serif;
    --fuente-textos: "Mulish", sans-serif;
}

body {
    background-color: #92E3A9;
    min-height: 100vh;
    position: relative;
}

.titulo {
    padding: 2rem var(--margen-lateral);
    text-align: center;
    font-family: var(--fuente-titulo);
    font-size: 2.25rem;
    font-weight: 600;
}

.app {
    padding: 0px var(--margen-lateral) var(--espaciado-vertical);
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-vertical);
    max-width: 625px;
}

.entrada {
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-vertical-items);
    font-family: var(--fuente-textos);
}

.entrada__texto {
    height: 20vh;
    background-color: var(--color-secundario);
    font-size: 1.2rem;
    border: none;
    border-radius: var(--redondeo-bordes);
    resize: none;
    padding: 1rem var(--margen-lateral);
}

.entrada__texto:focus {
    outline: none;
}

.entrada__texto::placeholder {
    font-family: var(--fuente-textos);
    color: #090909;
}

.entrada__reglas {
    font-size: 0.9rem;
    padding: 0px calc(1 * var(--margen-lateral)) calc(0.25 * var(--espaciado-vertical));
}

.entrada__botones {
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-vertical-items);
}

.boton {
    padding: 1rem;
    min-height: 4rem;
    border-radius: 1.5rem;
    font-size: 1rem;
}

.entrada__btn__encriptar {
    background-color: var(--color-acento);
    color: #FFFFFF;
    border: none;
}

.entrada__btn__desencriptar {
    background-color: var(--color-primario);
    border: 2px solid var(--color-acento);
    color: var(--color-acento);
}

.salida {
    padding: 1rem var(--margen-lateral);
    margin-bottom: var(--espaciado-vertical);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--espaciado-vertical-items);
    background-color: #FFFFFF;
    border-radius: var(--redondeo-bordes);
    font-family: var(--fuente-textos);
    text-align: center;
    word-break: break-word;
    /* overflow-wrap: break-word; */
    min-height: 25%;
}

.salida__contenedor__imagen {
    width: 100%;
    max-width: 400px;
}

.salida__link {
    width: 100%;
}

.salida__texto__resaltado {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 0.75rem;
}

.salida__texto__resultado {
    font-size: 1.25rem;
    align-self: flex-start;
}

.salida__btn__copiar {
    /* background-color: transparent; */
    background-color: #FFFFFF;
    border: 2px solid var(--color-acento);
    color: var(--color-acento);
    width: 80%;
}

.footer {
    padding: calc(0.25 * var(--espaciado-vertical)) var(--margen-lateral);
    background-color: var(--color-secundario);
    font-family: var(--fuente-textos);
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.25rem;
    width: 100%;
    position: absolute;
    bottom: 0;
}


/* Estilos a manejar desde JavaScript */
.elemento__inline {
    display: inline;
}

.elemento__oculto {
    display: none;
}

.texto__centrado {
    text-align: center;
}

.alerta {
    border: 0.25rem solid #A30000;
}

/* Agrego media query para tablet */
@media screen and (min-width: 768px) {
    /* NO FUNCIONO REDEFINIR VARIABLES */
    /* :root {
        --color-primario: yellow;
    } */

    .app {
        max-width: 1000px;
        padding: calc(0.5 * var(--espaciado-vertical)) calc(2 * var(--margen-lateral));
    }

    .entrada__botones {
        flex-direction: row;
    }

    .entrada__btn__encriptar, 
    .entrada__btn__desencriptar {
        flex-grow: 1;
    }
    
}

/* Agrego media query para pc desktop */
@media screen and (min-width: 1200px) {
    .app {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        gap: var(--margen-lateral);
        max-width: 1600px;
    }

    .main {
        display: flex;
        width: 60%;
        padding-bottom: 1rem;
        margin-bottom: var(--espaciado-vertical);
    }

    .entrada {
        width: 100%;
    }

    .entrada__texto {
        min-height: 40vh;
        padding: 1rem calc(var(--margen-lateral));
    }    

    .salida {
        width: 40%;
        padding: 1rem calc(0.5 * var(--margen-lateral));
    }

    .salida__texto__resultado {
        height: 100%;
        text-align: left;
    }

}